@page "{id}"
@model TeamModel
@using EUSL_WebApp.Models;

@{
    ViewData["Title"] = Model.Team.Name;
    ViewData["TeamsActive"] = "active";
}

<h2>@Model.Team.Name (@Model.Team.ShortName)</h2>
<br/>

<select name="seasons" id="seasons">
@foreach (var season in Model.Seasons)
{
    @if(season == Model.Current) {
        <option selected value="@season.SeasonId">Season @season.Num @Enum.GetName(typeof(Division), season.Division)</option>
    }
    else {
        <option value="@season.SeasonId">Season @season.Num @Enum.GetName(typeof(Division), season.Division)</option>
    }
}
</select>

<div id="roster">
@await Html.PartialAsync("_RosterPartial", Model.Roster)
</div>

@section Scripts
{
    <script>
        $('#seasons').change(function () {
            $.ajax({
                type: 'GET',
                url: '/team/8?handler=UpdateRoster',
                data: {"season": this.value, "team": @Model.Team.TeamId},
                success: function(response) {
                    $('#roster').html(response)
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            })
        })
    </script>
}