@page "{id}"
@model TeamModel
@using EUSL_WebApp.Models;

@{
    ViewData["Title"] = Model.Team.Name;
    ViewData["TeamsActive"] = "active";
}

<h2>@Model.Team.Name (@Model.Team.ShortName)</h2>

@foreach (var season in Model.Seasons) {
    <p>Season @season.Num @Enum.GetName(typeof(Division), season.Division)</p>    
}

<p>DateTime: @DateTime.Now</p>

<div id="roster">
@await Html.PartialAsync("_RosterPartial", Model.Roster)
</div>

<button type="button" id="testbutton">Change</button>

@section Scripts
{
    <script>
        $('#testbutton').click(function(){
            $.ajax({
                type: 'GET',
                url: '/team/8?handler=UpdateRoster',
                data: {"season": 2, "team": 8},
                success: function(response) {
                    $('#roster').html(response)
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            })
        })
    </script>
}