@page "{id}"
@model TeamModel
@using EUSL_WebApp.Models;

@{
    ViewData["Title"] = Model.Team.Name;
    ViewData["TeamsActive"] = "active";
}

<h1>Team</h1>
<h2>@Model.Team.Name (@Model.Team.ShortName)</h2>

<h1>seasons participated in</h1>
@foreach (var season in Model.Seasons) {
    <p>Season @season.Num @Enum.GetName(typeof(Division), season.Division)</p>    
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Goals
            </th>
            <th>
                Assists
            </th>
            <th>
                Saves
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Roster)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                @if(Model.Statistics.ContainsKey(item))
                {
                    <td>
                        @Model.Statistics[item][0]
                    </td>
                    <td>
                        @Model.Statistics[item][1]
                    </td>
                    <td>
                        @Model.Statistics[item][2]
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
