@page ""
@model EUSL_WebApp.Pages.MatchModel
@{
    ViewData["Title"] = "Match";
    ViewData["ResultsActive"] = "active";
}


<h1>DEBUG</h1>
<h2>Id = @Model.Fixture.FixtureId</h2>
<h2>@Model.Fixture.HomeTeam.Name (<a href="/team/@Model.Fixture.HomeTeamId">Link</a>) vs @Model.Fixture.AwayTeam.Name (<a href="/team/@Model.Fixture.AwayTeamId">Link</a>)</h2>

<table class="table">
    <thead>
        <tr>
            <th>Player</th>
            <th>Team</th>
            <th>Score</th>
            <th>Goals</th>
            <th>PAssists</th>
            <th>SAssists</th>
            <th>Shots</th>
            <th>Saves</th>
            <th>Passes</th>
            <th>Periods</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Lines != null)
        {
            foreach(var line in Model.Lines)
            {
                <tr>
                    <td>@line.Player.Name</td>
                    <td>@line.Team.Name</td>
                    <td>@line.Score</td>
                    <td>@line.Goals</td>
                    <td>@line.PrimaryAssists</td>
                    <td>@line.SecondaryAssists</td>
                    <td>@line.Shots</td>
                    <td>@line.Saves</td>
                    <td>@line.Passes</td>
                    <td>@line.PeriodPlayed()</td>
                </tr>
            }
        }
    </tbody>
</table>